<!DOCTYPE html>
<html>
  <head>
    <title>Spencer Norman - 37signals Rails Programmer Application</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="notification">
    <% if notice.present? %>
      <div class="notice gap-x-6 bg-indigo-600 px-6 py-2.5 sm:px-3.5 sm:before:flex-1" data-notification-target="notice">
        <button data-action="notification#close" class="text-white float-right text-2xl cursor-pointer -mt-1">&times;</button>
        <div class="mx-auto max-w-2xl text-center">
          <p class="text-sm leading-6 text-white">
            <%= notice %>
          </p>
        </div>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert gap-x-6 bg-red-600 px-6 py-2.5 sm:px-3.5 sm:before:flex-1 items-center" data-notification-target="alert">
        <button data-action="notification#close" class="text-white float-right items-center text-2xl cursor-pointer -mt-1">&times;</button>
        <div class="mx-auto max-w-2xl text-center">
          <p class="text-sm leading-6 text-white">
            <%= alert %>
          </p>
        </div>
      </div>
    <% end %>

    <div class="flex justify-center items-center mt-6 mx-4">
      <% if user_signed_in? %>
        <div class="flex w-full justify-between items-center">
          <div>
            <%= link_to "Home", root_path, class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
          </div>

          <div class="flex flex-row items-center gap-x-2">
            <%= link_to "Date Parser", date_parser_index_path, class: "rounded bg-indigo-50 px-2 py-1 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100" %>
            <%= link_to "Switch to phone with QR", new_qr_session_path, class: "rounded bg-indigo-50 px-2 py-1 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100" %>
            <%= button_to "Sign Out", session_path, method: :delete, class: "rounded bg-white px-2 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
          </div>
        </div>
      <% else %>
        <div class="flex w-full justify-between items-center">
          <div>
            <%= link_to "Home", root_path, class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
          </div>
          <div>
            <%= link_to "Sign In", new_session_path, class: "mr-4 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
            <%= link_to "Sign Up", new_registration_path, class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
          </div>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
